.star {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.3em;
  cursor: pointer;
}

.star-blue {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.3em;
  color: rgb(58, 223, 223);
  cursor: pointer;
}
