@import "../../constants/variables.scss";
.search {
  display: flex;
  height: 2em;
  justify-content: center;
  align-items: center;

  & input {
    padding: 20px;

    height: 100%;
    width: 30em;
    border: 1px solid $--color-search-input-border-cyan-grey;
    border-radius: 10px;
    outline: none;
    font-size: 0.9em;

    &:focus {
      border-color: $--color-search-input-focus-border-dark-cyan-grey;
    }
  }
}
