@import "../../constants/variables.scss";

.beer-item {
  position: relative;
  display: flex;
  max-width: 20em;
  min-width: 15em;
  border: 1px solid $--color-border-cyan;
  border-radius: 3%;
  margin-top: 30px;
  margin-right: 20px;
  padding: 40px;

  &__info {
    flex-direction: column;

    &--description {
      margin-top: 5px;
      max-height: 10em;
      max-width: 10em;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
