$--color-cyan: cyan;
$--color-white: white;
$--color-hover-nav: rgb(0, 202, 202);
$--color-search-button-blue: rgb(68, 112, 255);
$--color-search-input-border-cyan-grey: #add;
$--color-search-input-focus-border-dark-cyan-grey: rgb(75, 180, 180);
$--color-hover-button: rgb(22, 75, 252);

a {
  text-decoration: none;
}
