@import "../../constants/variables.scss";

.home {
  display: flex;
  flex-direction: column;

  max-width: 70vw;
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 2em;
  }

  .search {
    display: flex;
    height: 2em;
    justify-content: center;
    align-items: center;

    .input {
      padding: 5px 10px;

      height: 2em;
      width: 30em;
      border: 1px solid $--color-search-input-border-cyan-grey;
      outline: none;
      font-size: 0.9em;
    }
    .button {
      height: 3em;
      width: 6em;
      border: none;
      border-radius: 0 10% 10% 0;
      background-color: $--color-search-button-blue;
      color: $--color-white;
      cursor: pointer;

      &:hover {
        background-color: $--color-hover-button;
      }
    }
  }
}
