@import "../../constants/variables.scss";

.home {
  display: flex;
  flex-direction: column;

  max-width: 70vw;

  .logoutButton {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid cyan;
    border-radius: 50px;
    padding: 10px;
    background-color: $--color-button-blue;
    cursor: pointer;

    &:hover {
      background-color: $--color-hover-button;
    }
  }
}
